.nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; }
.nav li {
	float: left; }
.nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
.nav li a:hover {
	color: #c00;
	background-color: #fff; }

/* Logo Image ---*/

.main-inner1 {
	width: 100%;
	height: 70px;
	background-color: #F0F8FF;
}
.main-inner1 h1.logo { height: 28px; width: 184px; }

.main-inner1 h1.logo a {
	background: url(../images/logo.png) no-repeat left;
	display: block;
	height: 70px;
	width: 600px;
	background-color: #F0F8FF;
}

.slideShowImagesClass {
	width: 100%;
}

